
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/symbol.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'OpenSans';
    font-size: 1em;
    overflow: hidden;
}

.noselect { /* http://stackoverflow.com/questions/826782/ */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                              not supported by any browser */
}

.prot {
    border: 3px;
    border-style: solid;
    border-color: #AAA;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

.center {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.task {
    margin: 15px 5px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    width: calc(100% - 15px);
}

.task ul {
    margin-top:4px;
    margin-bottom: 4px;
}

.task-content {
    text-align: center;
    font-size: 1.5em;
    /*background-color: #99d6ff;*/
    background: -webkit-linear-gradient(top,#99d6ff,#99d6ff,white)
}

    .task-content td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

.task-buttons {
    font-size: 1.5em;
}

.tristatedesc {
    display: inline;
}

.ui-widget {
    font-size: 1.5em;
}

/*Hide close button in dialog: */

.custom-dialog .ui-dialog-titlebar-close {
    display: none;
}

.hidden {
    display: none;
}

.task-text {
    text-align: right;
}

#navigate {
    font-size: 1.5em;
}

    #navigate .chunky a {
        /* width: 50%;*/
    }

.cat-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

    .cat-table td {
        padding: 0;
        margin: 0;
        border: 0;
    }


    .tasknote {
        margin: 7px auto;
        font-size: 1.2em;
    }

    #breadcrumbs-four {
        font-size: 1.1em;
    }

    .editnote {
        text-decoration: underline;
        color:blue;
        font-weight: bold;
    }

    .md-subheader {
        font-size: 1.5em;
        border-bottom: 3px double blue;
        text-align: center;
    }

    md-dialog {
        font-size: 2em;
    }

.ng-hide:not(.ng-hide-animate)  {
    display: block !important;
    visibility: hidden;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 50vw !important;
    max-width: 65vw !important;
} 

.limenu {
    font-size: 1.5em;
}