<!-- Constent-->

<div id="header">
    <div colspan="3">
        <!-- Navigation bar, like tabs-->
        <!-- Task Navigation bar -->

        <table style="width:100%;" class="cat-table">
            <tr>
                <td>
                    <!-- Bread-crums menu-->
                    <ul id="breadcrumbs-four">
                        <li><a href="">מפקום</a></li>
                        <li><a href="">מפקום</a></li>
                        <li><a href="">מפקום</a></li>
                        <li><a href="">מפקום</a></li>
                        <li class="selected"><a href="">כללי</a></li>
                    </ul>
                </td>
                <td>
                    <!-- htx rot htla htra -->
                    <button class="c-hamburger c-hamburger--htx"
                            style="transform: scale(0.5); z-index: 20; float: left;">
                        <span>toggle menu</span>
                    </button>
                </td>
            </tr>
        </table>

        <script>
                        (function () {

                            "use strict";

                            var toggles = document.querySelectorAll(".c-hamburger");

                            for (var i = toggles.length - 1; i >= 0; i--) {
                                var toggle = toggles[i];
                                toggleHandler(toggle);
                            };

                            function toggleHandler(toggle) {
                                toggle.addEventListener("click", function (e) {
                                    e.preventDefault();
                                    (this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
                                    $('nav').toggleClass('active');
                                });
                            }

                        })();
        </script>

        <!-- Tasks hierarchy navigator -->
        <nav>
            <div style="overflow-y: scroll; height: 100%">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <a href="#">Home</a>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                    <a href="#">Home</a>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                            <a href="#">Home</a>
                                            <a href="#">Home</a>
                                            <a href="#">Home</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Home</a>
                                                    <a href="#">Home</a>
                                                    <a href="#">Home</a>
                                                    <a href="#">Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>

        <script type="text/javascript" language="javascript" src="./js/mostrar_nav.js"></script>
    </div>
</div>
<div id="page-body">
    <div colspan="3" style="overflow-y: hidden">
        <!-- Table adjust to content, restrict through divs! -->
        <div id="tab-content" class="prot"
             style="width:100%; height: 70vh; overflow-y: scroll ; display: block; margin: 5px auto 5px auto;">


            <!-- Tab Content-->
            <table class="task">
                <tr class="task-content">
                    <td colspan="2">
                        <span style="float: right; margin: 15px;">(1)</span>

                        <div id="chunky-buttons" style="float:right; border-radius: 10px;">
                            <div class="chunky">
                                <div class="tristate chunky16" onclick="OnTriClick(this);">
                                    <div class="tri-sta-che md clear">
                                        <span class="tsc-b tsc-b-r"></span>
                                        <span class="tsc-b tsc-b-b"></span>
                                        <span class="tsc-b tsc-b-t"></span>
                                        <span class="tsc-b tsc-b-l"></span>
                                    </div>
                                    <a class="tristatedesc">
                                        בחר מצב
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="chunky-buttons" style="float:left">
                            <div class="chunky chunky26">
                                <a>
                                    +
                                </a>
                                הוסף הערה
                            </div>
                        </div>

                        פה יופיע טקסט לדוגמא <br />
                        עם כמה שורות וגם <b>הדגשים</b>
                    </td>
                </tr>
                <tr class="task-buttons">
                    <td style="text-align:right"></td>
                    <td style="text-align:left"></td>
                </tr>
            </table>

            <!-- Tab Content-->
            <table class="task">
                <tr class="task-content">
                    <td colspan="2">
                        <span style="float: right; margin: 15px;">(1)</span>

                        <div id="chunky-buttons" style="float:right; border-radius: 10px;">
                            <div class="chunky">
                                <div class="tristate chunky16" onclick="OnTriClick(this);">
                                    <div class="tri-sta-che md clear">
                                        <span class="tsc-b tsc-b-r"></span>
                                        <span class="tsc-b tsc-b-b"></span>
                                        <span class="tsc-b tsc-b-t"></span>
                                        <span class="tsc-b tsc-b-l"></span>
                                    </div>
                                    <a class="tristatedesc">
                                        בחר
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="chunky-buttons" style="float:right">
                            <div class="chunky chunky26">
                                <a>
                                    +
                                </a>
                                הערה
                            </div>
                        </div>

                        פה יופיע טקסט לדוגמא <br />
                        עם כמה שורות וגם <b>הדגשים</b>
                    </td>
                </tr>
                <tr class="task-buttons">
                    <td style="text-align:right"></td>
                    <td style="text-align:left"></td>
                </tr>
            </table>

            <!-- Tab Content-->
            <table class="task">
                <tr class="task-content">
                    <td colspan="2">
                        <span style="float: right; margin: 15px;">(3)</span>
                        פה יופיע טקסט לדוגמא <br />
                        עם כמה שורות וגם <b>הדגשים</b> <br />
                        מלא פרטים: <input type="text" style="font-size:1em;" /> <br />
                        <u>בחר: </u>
                        <input type="radio" name="group1" value="1" style="width:1.5em; height: 1.5em;" /> 1
                        <input type="radio" name="group1" value="2" style="width:1.5em; height: 1.5em;" /> 2
                    </td>
                </tr>
                <tr class="task-buttons">
                    <td style="text-align:right">
                        <div id="chunky-buttons">
                            <div class="chunky">
                                <div class="tristate chunky16" onclick="OnTriClick(this);">
                                    <div class="tri-sta-che md clear">
                                        <span class="tsc-b tsc-b-r"></span>
                                        <span class="tsc-b tsc-b-b"></span>
                                        <span class="tsc-b tsc-b-t"></span>
                                        <span class="tsc-b tsc-b-l"></span>
                                    </div>
                                    <a class="tristatedesc">
                                        בחר מצב
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:left">
                        <div id="chunky-buttons">
                            <div class="chunky chunky26">
                                <a>
                                    +
                                </a>
                                הוסף הערה
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- Tab Content-->
            <table class="task">
                <tr class="task-content">
                    <td colspan="2">
                        <span style="float: right;margin: 0px 15px;background-color: whitesmoke;
                                                 border: 2px solid black;border-radius: 10px;padding: 7px;">(1)</span>

                        <div id="chunky-buttons" style="float:left">
                            <div class="chunky chunky26">
                                <a>
                                    <b>+</b> הערה
                                </a>
                            </div>
                        </div>

                        <div id="chunky-buttons" style="float:left; border-radius: 10px;">
                            <div class="chunky chunky16">
                                <a>
                                    <div class="tristate" onclick="OnTriClick2(this);">
                                        <div class="tri-sta-che md hidden">
                                            <span class="tsc-b tsc-b-r"></span>
                                            <span class="tsc-b tsc-b-b"></span>
                                            <span class="tsc-b tsc-b-t"></span>
                                            <span class="tsc-b tsc-b-l"></span>
                                        </div>
                                        <div class="tristatedesc">
                                            מצב
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="task-text">
                            פה יופיע טקסט לדוגמא <br />
                            עם כמה שורות וגם <b>הדגשים</b>
                        </div>
                    </td>
                </tr>
                <tr class="task-buttons">
                    <td style="text-align:right"></td>
                    <td style="text-align:left"></td>
                </tr>
            </table>


            <!-- Tab Content-->
            <table class="task">
                <tr class="task-content">
                    <td colspan="2">
                        <span style="float: right;margin: 0px 15px;background-color: whitesmoke;
                                                 border: 2px solid black;border-radius: 10px;padding: 7px;">(1)</span>

                        <div id="chunky-buttons" style="float:left; margin-right: 10px;">
                            <div class="chunky chunky26">
                                <a style="line-height: initial; padding-top: 7px; padding-bottom: initial;">
                                    <img src="./svg/add-text-notes.svg" style="width: 32px;" />
                                </a>
                            </div>
                        </div>

                        <div id="chunky-buttons" style="float:left; border-radius: 10px;">
                            <div class="chunky chunky16">
                                <a>
                                    <div class="tristate narrow-tristate" onclick="OnTriClick2(this);">
                                        <div class="tri-sta-che md hidden">
                                            <span class="tsc-b tsc-b-r"></span>
                                            <span class="tsc-b tsc-b-b"></span>
                                            <span class="tsc-b tsc-b-t"></span>
                                            <span class="tsc-b tsc-b-l"></span>
                                        </div>
                                        <div class="tristatedesc">
                                            מצב
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="task-text">
                            פה יופיע טקסט לדוגמא <br />
                            עם כמה שורות וגם <b>הדגשים</b>
                        </div>
                    </td>
                </tr>
                <tr class="task-buttons">
                    <td style="text-align:right"></td>
                    <td style="text-align:left"></td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div id="navigate">
    <div style="float:right;">
        <div id="chunky-buttons" style="float:right; ">
            <div class="chunky chunky12">
                <a>
                    הקודם
                </a>
            </div>
        </div>
    </div>

    <div style="float:left">
        <div id="chunky-buttons" style="float:left; ">
            <div class="chunky chunky12">
                <a>
                    הבא
                </a>
            </div>
        </div>
    </div>

</div>

<!-- Dialogs -->

<jqui-theme>
    <div id="sig-dialog" class="ui-dialog" title="אנא הכנס חתימה">
        <script>
                $("#sig-dialog").dialog({
                    draggable: false,
                    dialogClass: "custom-dialog",
                    autoOpen: false,
                    modal: true,
                    width: "auto",
                    height: "auto",

                    show: {
                        effect: "bounce",
                        duration: 1000
                    },
                    hide: {
                        effect: "fade",
                        duration: 100
                    },
                    buttons: {
                    "אישור": function() {
                        $( this ).dialog( "close" );
                    },
                    "ביטול": function() {
                        $( this ).dialog( "close" );
                    }
                }
                });
        </script>
        Hello! <br />
        Hello2 <br />
        Hello3

        <div id="signature" class="prot" style="width:50vw; height:30vh;"></div>
    </div>
</jqui-theme>