<div id="tasks-view">
    <!-- Content-->

    <div id="header">
        <div colspan="3">
            <!-- Navigation bar, like tabs-->
            <!-- Task Navigation bar -->

            <table style="width:100%;" class="cat-table">
                <tr>
                    <td style="text-align:center">
                        <md-button class="md-primary md-raised" ng-click="openSideMenu();"
                                   style="float: left; vertical-align:middle; font-size: 3em;">
                            <i class="material-icons" style="font-size: 1.0em">arrow_forward</i>
                        </md-button>
                        חזור לטופס
                    </td>
                    <td width="100%">

                    </td>
                    <td style="text-align:center">
                        <md-button class="md-primary md-raised" ng-click="toggleFavs();"
                                   style="float: left; vertical-align:middle; font-size: 3em;">
                            <i class="material-icons" style="font-size: 1.0em; color:yellow">{{favIcon}}</i>
                        </md-button>
                        מועדפים
                    </td>
                    <td style="text-align:center">
                        <md-button class="md-primary md-raised" ng-click="filterDialog();" 
                                   style="float: left; vertical-align:middle; font-size: 3em;">
                            <i class="material-icons" style="font-size: 1.0em">&#xE8B6;</i>
                        </md-button>
                        סינון
                    </td>
                    <td style="text-align:center">
                        <md-button class="md-primary md-raised" ng-click="openSideMenu();"
                                   style="float: left; vertical-align:middle; font-size: 3em;">
                            <i class="material-icons" style="font-size: 1.0em; color:springgreen">menu</i>
                        </md-button>
                        תפריט
                    </td>
                </tr>
            </table>


          
        </div>
    </div>    

    <div id="page-body">
        <div style="overflow-x: hidden">
            <!-- Table adjust to content, restrict through divs! -->

            
            <md-content id="tab-content" class="prot"
                 style="width:100%; height: 85vh; overflow-y: scroll ; display: block; margin: 5px auto 5px auto;"
                  >

                <div ng-if="taskArray.length == 0"
                     style="text-align: center;font-size: 2em;">
                    אין מטלות להציג, אנא בחרו קטגוריה מהתפריט.
                </div>

                <div ng-if="prevCat != null"
                     style="text-align: center;width: 100%;margin-bottom: 20px;margin-top: 20px;font-size: 1.5em;"
                     ng-click="openCat(prevCat,currentIndex-1);">
                    <div id="chunky-buttons">
                        <div class="chunky chunky13">
                            <a>
                                חזור אל: <u>{{prevCat.catname}}</u>
                            </a>
                        </div>
                    </div>
                </div>

                <section ng-repeat="cat in taskArray">
                    
                    <a id="subheader-{{cat.catid}}"> </a>
                    <div ng-repeat="task in (filteredTasks = ( cat.tasks | taskfilter:filters ))">
                         <div ng-if="$first">
                             
                             <md-subheader class="md-primary">
                                 <input type="hidden" id="catid" value="{{cat.catid}}" />
                                 <div id="navigate">

                                     
                                     <!-- NG click because a anchor exist even if cat not showing, so still will work -->
                                     <div ng-hide="$parent.$parent.$last" style="float:left" 
                                          ng-click="goCat(taskArray[$parent.$parent.$index+1].catid);">
                                         <div id="chunky-buttons">
                                             <div class="chunky chunky12">
                                                 <a>
                                                     הבא
                                                 </a>
                                             </div>
                                         </div>
                                     </div>

                                     <!-- NG click because a anchor exist even if cat not showing, so still will work -->
                                     <div ng-hide="$parent.$parent.$first" style="float:left;" 
                                          ng-click="goCat(taskArray[$parent.$parent.$index-1].catid);">
                                         <div id="chunky-buttons">
                                             <div class="chunky chunky12">
                                                 <a>
                                                     הקודם
                                                 </a>
                                             </div>
                                         </div>
                                     </div>

                                     <div  style="float:left" ng-click="goCat(cat.catid);">
                                         <div id="chunky-buttons">
                                             <div class="chunky chunky12">
                                                 <a>
                                                     <i class="material-icons">&#xE255;</i>
                                                 </a>
                                             </div>
                                         </div>
                                     </div>

                                 </div>

                                 <span>
                                     {{fullCatName(cat);}}
                                 </span>
                                 
                             </md-subheader>
                         </div>
                        <table class="task">
                            <tr class="task-content">
                                <td colspan="2">
                                    <span style="float: right;margin: 0px 15px;background-color: whitesmoke;
                                                 border: 2px solid black;border-radius: 10px;padding: 7px;">({{task.index}})</span>

                                    <div id="chunky-buttons" style="float:left; margin-right: 10px;" ng-click="ShowNotes(task.taskID,$event);">
                                        <div class="chunky chunky26">
                                            <a style="line-height: initial; padding-top: 7px; padding-bottom: initial;">
                                                <img src="./svg/add-text-notes.svg" style="width: 32px;" />
                                            </a>
                                        </div>
                                    </div>

                                    <div id="chunky-buttons" style="float:left; border-radius: 10px;" ng-click="OnTriClick(task);">
                                        <div class="chunky chunky0">
                                            <a>
                                                <div class="tristate narrow-tristate">
                                                    <div class="tri-sta-che md {{task.tristate.css}}">
                                                        <span class="tsc-b tsc-b-r"></span>
                                                        <span class="tsc-b tsc-b-b"></span>
                                                        <span class="tsc-b tsc-b-t"></span>
                                                        <span class="tsc-b tsc-b-l"></span>
                                                    </div>
                                                    <div class="tristatedesc" style="color: #000;">
                                                        {{task.tristate.text}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="task-text" ng-click="breadCrumbs(task);">
                                        <div ng-bind-html="task.description | trusthtml"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                </section>

                
                <div ng-if="nextCat != null" 
                        style="text-align: center;width: 100%;margin-bottom: 20px;margin-top: 20px;font-size: 1.5em;"
                        ng-click="openCat(nextCat,currentIndex+1);">
                    <div id="chunky-buttons">
                        <div class="chunky chunky13">
                            <a>
                                המשך הלאה אל: <u>{{nextCat.catname}}</u>
                            </a>
                        </div>
                    </div>
                </div>
                


            </md-content>


        </div>
    </div>
   

    <!-- Dialogs and menus -->
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="rightmenu">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools" >נווט בקטגוריות</h2>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
           
                <ul style="font-size:3em">
                    <li ng-repeat="cat in catTree" >
                        <i class="material-icons">{{getCatStatString(catCompletedState(cat));}}</i>
                            <span ng-click="openCat(cat,$index);">{{cat.catname}}</span>
                    </li>
                </ul>
            

        </md-content>
    </md-sidenav>

    <div>
        <div id="sig-dialog" class="hidden ui-dialog" title="אנא הכנס חתימה">
            <script>
                var sigInit = false;
                var $sigdiv = $("#signature");
                function openMenu() {
                    $("#sig-dialog").dialog("open");
                    if (!sigInit) {
                        $("#signature").jSignature();
                        sigInit = true;
                    } else {
                        $("#signature").jSignature("reset");
                        //$sigdiv.jSignature();
                    }
                }
            </script>
            <script>
                /* $("#sig-dialog").dialog({
                     draggable: false,
                     dialogClass: "custom-dialog",
                     autoOpen: false,
                     modal: true,
                     width: "auto",
                     height: "700",

                     show: {
                         effect: "bounce",
                         duration: 1000
                     },
                     hide: {
                         effect: "fade",
                         duration: 100
                     },
                     buttons: {
                     "אישור": function() {
                         $( this ).dialog( "close" );
                     },
                     "ביטול": function() {
                         $( this ).dialog( "close" );
                     }
                 }
                 });*/
            </script>
            Hello! <br />
            Hello2 <br />
            Hello3

            <div id="signature" class="prot" style="width:85vw; height:400px;"></div>
        </div>

        <div id="note-dialog" class="hidden ui-dialog" title="הערות">
            <input type="hidden" id="input_note_taskid" />
            <input type="hidden" id="input_note_noteid" />
            שם: <input type="text" id="input_note_owner" /> <br />
            הערה: <br /> <textarea id="input_note_text"></textarea>
        </div>


    </div>
</div>