

<md-dialog aria-label="סנן מטלות" ng-cloak >
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>סנן מטלות</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <style>
            .filtertable td {
                border-bottom: 1px solid lightblue;
            }
        </style>
        <md-dialog-content>
            <table class="filtertable">
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[1].content.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                מכיל טקסט:
                            </md-checkbox>
                            
                            <md-input-container style="margin: 24px 0 0 0;">
                                <input ng-model="filterArray[1].content.value" placeholder="טקסט לחיפוש">
                            </md-input-container>
                            
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[0].favor.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                מועדפים
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[0].nonfavor.show"
                                         class="md-primary" style="margin: 16px; float:right">
                               רגילים
                            </md-checkbox>
                          
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <div flex>
                            <md-checkbox ng-model="filterArray[2].notes.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                עם הערות.
                            </md-checkbox>
                        </div><br />

                    </td>
                </tr>
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[3].checked.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                תקין
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[3].unchecked.show"
                                         class="md-primary" style="margin: 16px; float:right">
                               תקול
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[3].hidden.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                ללא מצב
                            </md-checkbox>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[4].r0.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                {{rankDict[0]}}
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[4].r1.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                {{rankDict[1]}}
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[4].r2.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                {{rankDict[2]}}
                            </md-checkbox>
                            <md-checkbox ng-model="filterArray[4].r3.show"
                                         class="md-primary" style="margin: 16px; float:right">
                                {{rankDict[3]}}
                            </md-checkbox>
                        </div>

                    </td>
                </tr>
            </table>
        </md-dialog-content>

        <md-dialog-actions layout="row">            
            <span flex></span>
            <md-button ng-click="answer('done')" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>