<div id="notes-dialog" >
    הוסף: <input type="text" id="input_newNote" />

    <div ng-click="AddNote(selectedTask.taskID);"
         id="chunky-buttons" style="float:left; border-radius: 10px;">
        <div class="chunky chunky26">
            <a>+</a>
        </div>
    </div><br />

    <ul>
        <li class="tasknote" ng-repeat="note in selectedTask.notes">
            <h3 style="display: inline;">{{note.noteOwner}}:</h3>
            <span class="note-text" ng-bind-html="note.noteText | trusthtml"></span>
            <span ng-click="editNote(selectedTask.taskID,note.noteID);" class="editnote">ערוך</span>
        </li>
    </ul>

</div>