

<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>מאפייני מטלה</h2>
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="toggleFavs();"
                           style="float: left; font-size: 2em;vertical-align:bottom;">
                    <i class="material-icons" style="font-size: 1.0em; color:yellow">{{getFavIcon();}}</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
           
            <div id="notes-dialog" style="width: 75vw;">
               

                <ul>
                    <li class="tasknote" ng-repeat="note in selectedTask.notes">
                        <h4 style="display: inline;">{{note.noteOwner}}:</h4>
                        <input ng-model="note.noteText" />
                    </li>
                </ul>

            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="answer('close')" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>