

<md-dialog aria-label="סנן מטלות" ng-cloak >
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>סנן מטלות</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <table>
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[0].filter"
                                         class="md-primary" style="margin: 16px; float:right">
                                מועדפים:
                            </md-checkbox>

                            <md-radio-group ng-model="filterArray[0].value" class="md-primary">
                                <md-radio-button ng-value="true"
                                                 ng-disabled="!filterArray[0].filter"
                                                 style="float:left; margin:16px;">
                                    רק מועדפים
                                </md-radio-button>
                                <md-radio-button ng-value="false"
                                                 ng-disabled="!filterArray[0].filter"
                                                 style="float:left; margin:16px;">
                                    רק רגילים
                                </md-radio-button>
                            </md-radio-group>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>

                        <div flex>
                            <md-checkbox ng-model="filterArray[2].filter"
                                         class="md-primary" style="margin: 16px; float:right">
                                עם הערות.
                            </md-checkbox>
                        </div><br />

                    </td>
                </tr>
                <tr>
                    <td>

                        <div>
                            <md-checkbox ng-model="filterArray[1].filter"
                                         class="md-primary" style="margin: 16px; float:right">
                                מצב:
                            </md-checkbox>

                            <md-radio-group ng-model="filterArray[1].value" class="md-primary">
                                <md-radio-button ng-value="'hidden'"
                                                 ng-disabled="!filterArray[1].filter"
                                                 style="float:left; margin:16px;">
                                    חסר
                                </md-radio-button>
                                <md-radio-button ng-value="'checked'"
                                                 ng-disabled="!filterArray[1].filter"
                                                 style="float:left; margin:16px;">
                                    תקין
                                </md-radio-button>
                                <md-radio-button ng-value="'unchecked'"
                                                 ng-disabled="!filterArray[1].filter"
                                                 style="float:left; margin:16px;">
                                    לא תקין
                                </md-radio-button>
                            </md-radio-group>
                        </div>

                    </td>
                </tr>
            </table>
        </md-dialog-content>

        <md-dialog-actions layout="row">            
            <span flex></span>
            <md-button ng-click="answer('done')" style="margin-right:20px;">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>